workflows/01_story_initialization.json
{
  "name": "Story Initialization Workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Story Idea Submission",
        "formDescription": "Submit your story idea and let AI help develop it into a complete narrative framework",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Book Name",
              "fieldType": "text",
              "requiredField": false,
              "fieldOptions": {}
            },
            {
              "fieldLabel": "Outline of Story",
              "fieldType": "textarea",
              "requiredField": true,
              "fieldOptions": {
                "placeholder": "Describe your story outline in detail..."
              }
            },
            {
              "fieldLabel": "Genre",
              "fieldType": "dropdown",
              "requiredField": false,
              "fieldOptions": {
                "values": [
                  {
                    "option": "Fantasy"
                  },
                  {
                    "option": "Science Fiction"
                  },
                  {
                    "option": "Romance"
                  },
                  {
                    "option": "Mystery"
                  },
                  {
                    "option": "Thriller"
                  },
                  {
                    "option": "Horror"
                  },
                  {
                    "option": "Historical Fiction"
                  },
                  {
                    "option": "Literary Fiction"
                  },
                  {
                    "option": "Contemporary Fiction"
                  },
                  {
                    "option": "Young Adult"
                  },
                  {
                    "option": "Adventure"
                  },
                  {
                    "option": "Crime"
                  },
                  {
                    "option": "Western"
                  },
                  {
                    "option": "Dystopian"
                  },
                  {
                    "option": "Paranormal"
                  },
                  {
                    "option": "Humor"
                  },
                  {
                    "option": "Satire"
                  },
                  {
                    "option": "Women's Fiction"
                  },
                  {
                    "option": "Action"
                  },
                  {
                    "option": "Suspense"
                  },
                  {
                    "option": "Drama"
                  },
                  {
                    "option": "Magical Realism"
                  },
                  {
                    "option": "Gothic"
                  },
                  {
                    "option": "Erotica"
                  },
                  {
                    "option": "Urban Fantasy"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Number of Chapters",
              "fieldType": "number",
              "requiredField": false,
              "fieldOptions": {}
            },
            {
              "fieldLabel": "Word Counter per Chapter",
              "fieldType": "number",
              "requiredField": false,
              "fieldOptions": {}
            }
          ]
        },
        "options": {
          "formSubmittedText": "Thank you! Your story is being processed. You'll receive the Story ID shortly."
        },
        "respondWithOptions": {
          "values": {
            "respondWith": "text"
          }
        }
      },
      "id": "form-trigger",
      "name": "Form Trigger - Story Submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "story-submission-form"
    },
    {
      "parameters": {
        "functionCode": "// Generate unique Story ID\nconst storyId = `STORY_${Date.now()}`;\n\n// Extract form data (Form Trigger provides data directly)\nconst bookName = $input.item.json['Book Name'] || 'Untitled';\nconst outlineOfStory = $input.item.json['Outline of Story'] || '';\nconst genre = $input.item.json['Genre'] || 'General';\nconst numberOfChapters = parseInt($input.item.json['Number of Chapters']) || 0;\nconst wordsPerChapter = parseInt($input.item.json['Word Counter per Chapter']) || 0;\n\n// Calculate total word count\nconst calculatedTotalWords = numberOfChapters * wordsPerChapter;\n\n// Generate timestamp\nconst submissionTimestamp = new Date().toISOString();\n\n// Return formatted data\nreturn {\n  json: {\n    story_id: storyId,\n    book_name: bookName,\n    outline_of_story: outlineOfStory,\n    genre: genre,\n    number_of_chapters: numberOfChapters,\n    word_counter_per_chapter: wordsPerChapter,\n    calculated_total_words: calculatedTotalWords,\n    submission_timestamp: submissionTimestamp\n  }\n};"
      },
      "id": "function-generate-id",
      "name": "Generate Story ID & Calculate Words",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "{{PLACEHOLDER_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Form_Submissions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "story_id": "={{ $json.story_id }}",
            "book_name": "={{ $json.book_name }}",
            "outline_of_story": "={{ $json.outline_of_story }}",
            "genre": "={{ $json.genre }}",
            "number_of_chapters": "={{ $json.number_of_chapters }}",
            "word_counter_per_chapter": "={{ $json.word_counter_per_chapter }}",
            "calculated_total_words": "={{ $json.calculated_total_words }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "story_id",
              "displayName": "story_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "book_name",
              "displayName": "book_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "outline_of_story",
              "displayName": "outline_of_story",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "genre",
              "displayName": "genre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "number_of_chapters",
              "displayName": "number_of_chapters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "word_counter_per_chapter",
              "displayName": "word_counter_per_chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "calculated_total_words",
              "displayName": "calculated_total_words",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "sheets-insert",
      "name": "Google Sheets - Insert Submission",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        680,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "{{GOOGLE_SHEETS_CREDENTIAL_ID}}",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "folder",
        "operation": "create",
        "name": "={{ $json.story_id }}",
        "options": {
          "parentId": {
            "__rl": true,
            "value": "{{PLACEHOLDER_STORIES_FOLDER_ID}}",
            "mode": "id"
          }
        }
      },
      "id": "drive-create-story-folder",
      "name": "Google Drive - Create Story Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        900,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "{{GOOGLE_DRIVE_CREDENTIAL_ID}}",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "folder",
        "operation": "create",
        "name": "={{ $json.book_name }}",
        "options": {
          "parentId": {
            "__rl": true,
            "value": "={{ $node['Google Drive - Create Story Folder'].json.id }}",
            "mode": "id"
          }
        }
      },
      "id": "drive-create-book-folder",
      "name": "Google Drive - Create Book Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "{{GOOGLE_DRIVE_CREDENTIAL_ID}}",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "text": "=Create a detailed 3-act synopsis for a {{ $json.genre }} story.\n\n**Book Name:** {{ $json.book_name }}\n**Genre:** {{ $json.genre }}\n**Story Outline:** {{ $json.outline_of_story }}\n**Number of Chapters:** {{ $json.number_of_chapters }}\n**Words per Chapter:** {{ $json.word_counter_per_chapter }}\n**Total Word Count:** {{ $json.calculated_total_words }}\n\nGenerate a comprehensive synopsis structured into three acts:\n\n**ACT I: SETUP (Approximately {{ Math.floor($json.calculated_total_words * 0.25) }} words)**\n- Opening situation and setting\n- Introduce protagonist(s) and their ordinary world\n- Inciting incident that disrupts the status quo\n- First major turning point that propels the story forward\n\n**ACT II: CONFRONTATION (Approximately {{ Math.floor($json.calculated_total_words * 0.5) }} words)**\n- Rising action and escalating conflicts\n- Character development and relationship dynamics\n- Obstacles and complications\n- Midpoint revelation or major setback\n- Progressive complications leading to crisis\n- Lowest point or dark night of the soul\n\n**ACT III: RESOLUTION (Approximately {{ Math.floor($json.calculated_total_words * 0.25) }} words)**\n- Climactic confrontation\n- Resolution of main conflict\n- Character transformation and growth\n- Denouement and new equilibrium\n- Thematic payoff\n\nFor each act, include:\n- Major plot points and story beats\n- Character arcs and development moments\n- Key conflicts (internal and external)\n- Emotional journey of the protagonist\n- Thematic elements and their evolution\n\nEnsure the synopsis flows naturally and provides a complete narrative arc that will guide the development of {{ $json.number_of_chapters }} chapters.",
        "options": {
          "systemMessage": "You are a professional story development assistant specializing in creating detailed, comprehensive synopses for novels. You excel at understanding story outlines and expanding them into structured 3-act narratives with clear plot progression, character development, and thematic depth."
        }
      },
      "id": "ai-agent-synopsis",
      "name": "AI Agent - Generate Synopsis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extract synopsis from AI Agent response\n// AI Agent with output parser returns the text directly in the output field\nconst synopsisContent = $input.item.json.output || $input.item.json.text || '';\n\n// Get story metadata from previous nodes\nconst storyId = $node['Generate Story ID & Calculate Words'].json.story_id;\nconst bookName = $node['Generate Story ID & Calculate Words'].json.book_name;\nconst genre = $node['Generate Story ID & Calculate Words'].json.genre;\nconst totalWords = $node['Generate Story ID & Calculate Words'].json.calculated_total_words;\nconst driveFolderId = $node['Google Drive - Create Book Folder'].json.id;\n\n// Format synopsis document with metadata header\nconst formattedSynopsis = `========================================\nSTORY SYNOPSIS\n========================================\n\nBook Name: ${bookName}\nStory ID: ${storyId}\nGenre: ${genre}\nTarget Word Count: ${totalWords} words\nGenerated: ${new Date().toISOString()}\n\n========================================\n\n${synopsisContent}\n\n========================================\nEND OF SYNOPSIS\n========================================`;\n\nreturn {\n  json: {\n    story_id: storyId,\n    book_name: bookName,\n    synopsis: formattedSynopsis,\n    synopsis_raw: synopsisContent,\n    drive_folder_id: driveFolderId,\n    generated_at: new Date().toISOString()\n  }\n};"
      },
      "id": "function-format-synopsis",
      "name": "Format Synopsis Document",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.story_id }}_synopsis.txt",
        "inputDataFieldName": "=synopsis",
        "options": {
          "parentId": {
            "__rl": true,
            "value": "={{ $json.drive_folder_id }}",
            "mode": "id"
          },
          "useBase64Encoding": false,
          "mimeType": "text/plain"
        }
      },
      "id": "drive-upload-synopsis",
      "name": "Google Drive - Upload Synopsis",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1780,
        200
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "{{GOOGLE_DRIVE_CREDENTIAL_ID}}",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{PLACEHOLDER_CHARACTER_WEBHOOK_URL}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "story_id",
              "value": "={{ $json.story_id }}"
            },
            {
              "name": "book_name",
              "value": "={{ $json.book_name }}"
            },
            {
              "name": "outline_of_story",
              "value": "={{ $json.outline_of_story }}"
            },
            {
              "name": "genre",
              "value": "={{ $json.genre }}"
            },
            {
              "name": "number_of_chapters",
              "value": "={{ $json.number_of_chapters }}"
            },
            {
              "name": "word_counter_per_chapter",
              "value": "={{ $json.word_counter_per_chapter }}"
            },
            {
              "name": "calculated_total_words",
              "value": "={{ $json.calculated_total_words }}"
            },
            {
              "name": "drive_folder_id",
              "value": "={{ $node['Google Drive - Create Book Folder'].json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-character",
      "name": "Trigger Character Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{PLACEHOLDER_WORLDBUILDING_WEBHOOK_URL}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "story_id",
              "value": "={{ $json.story_id }}"
            },
            {
              "name": "book_name",
              "value": "={{ $json.book_name }}"
            },
            {
              "name": "outline_of_story",
              "value": "={{ $json.outline_of_story }}"
            },
            {
              "name": "genre",
              "value": "={{ $json.genre }}"
            },
            {
              "name": "number_of_chapters",
              "value": "={{ $json.number_of_chapters }}"
            },
            {
              "name": "word_counter_per_chapter",
              "value": "={{ $json.word_counter_per_chapter }}"
            },
            {
              "name": "calculated_total_words",
              "value": "={{ $json.calculated_total_words }}"
            },
            {
              "name": "drive_folder_id",
              "value": "={{ $node['Google Drive - Create Book Folder'].json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-worldbuilding",
      "name": "Trigger Worldbuilding Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{PLACEHOLDER_CHAPTER_WEBHOOK_URL}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "story_id",
              "value": "={{ $json.story_id }}"
            },
            {
              "name": "book_name",
              "value": "={{ $json.book_name }}"
            },
            {
              "name": "outline_of_story",
              "value": "={{ $json.outline_of_story }}"
            },
            {
              "name": "genre",
              "value": "={{ $json.genre }}"
            },
            {
              "name": "number_of_chapters",
              "value": "={{ $json.number_of_chapters }}"
            },
            {
              "name": "word_counter_per_chapter",
              "value": "={{ $json.word_counter_per_chapter }}"
            },
            {
              "name": "calculated_total_words",
              "value": "={{ $json.calculated_total_words }}"
            },
            {
              "name": "drive_folder_id",
              "value": "={{ $node['Google Drive - Create Book Folder'].json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-chapter",
      "name": "Trigger Chapter Planning Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        500
      ]
    }
  ],
  "connections": {
    "Form Trigger - Story Submission": {
      "main": [
        [
          {
            "node": "Generate Story ID & Calculate Words",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Story ID & Calculate Words": {
      "main": [
        [
          {
            "node": "Google Sheets - Insert Submission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Insert Submission": {
      "main": [
        [
          {
            "node": "Google Drive - Create Story Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Create Story Folder": {
      "main": [
        [
          {
            "node": "Google Drive - Create Book Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Create Book Folder": {
      "main": [
        [
          {
            "node": "AI Agent - Generate Synopsis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger Character Workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger Worldbuilding Workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger Chapter Planning Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Generate Synopsis": {
      "main": [
        [
          {
            "node": "Format Synopsis Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Synopsis Document": {
      "main": [
        [
          {
            "node": "Google Drive - Upload Synopsis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "meta": {
    "instanceId": "n8n-story-gen-system"
  }
}
